---
title: About
layout: default
section_id: about
skills:
- title: Illustrator
  percentage: 95
- title: Photoshop
  percentage: 75
- title: InDesign
  percentage: 60
- title: Sketch
  percentage: 85
- title: Invision
  percentage: 80
- title: HTML, CSS
  percentage: 85
- title: Javascript
  percentage: 50
---

<div class='full parallax' style='background-image: url(images/Norma.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="About Me" color="#fff" tagline="Know something about me" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      <h3>How It Started</h3>
      <p>I just graduated from Eastern Washington University Spring 2019 (hire me!). I started my schooling pursuing a degree in Visual Communications Design only. Then I took my first Web and User Experience class and I was in love. I currently hold my Bachelors Degree in Visual Communications Design and a UX Certificate.</p>
      <h3>What I Can Do</h3>
      <ul>
        <li>Web/App Design</li>
        <li>Web Development</li>
        <li>Content Management Systems</li>
        <li>Version Control</li>
        <li>Research</li>
        <li>Wireframing</li>
        <li>Prototyping</li>
        <li>Coding</li>
        <li>User Flows</li>
        <li>Usability Testing</li>
        <li>Visual Design</li>
        <li>Art Direction</li>
        <li>Problem Solving</li>
      </ul>
    </div>
    <div class='medium-6 columns'>
      <h3>Tools</h3>
      <div class='mod modBarGraph'>
        <ul class='bars'>
          {% for skill in page.skills %}
            <li>
              <h4 style=''>
                {{skill.title}}
                <strong>{{skill.percentage}}%</strong>
              </h4>
              <p class='highlighted' data-percent='{{skill.percentage}}'></p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>