---
layout: default
section_id: home
works:
- image: images/Spark Central_Scablands1.jpg
  title: Spark Central
  link_to: portfolio-spark.html
  klass: graphic-design
  desc: Design
- image: images/Spaced Homepage1.jpg
  title: SPACED
  link_to: portfolio-spaced.html
  klass: web-design
  desc: Web Design
- image: images/PSA1.jpg
  title: PSA
  link_to: portfolio-psa.html
  klass: print
  desc: Design
- image: images/TakeRoot Logo-100.jpg
  title: Take Root
  link_to: portfolio-takeroot.html
  klass: graphic-design
  desc: Design
- image: images/UnicornDoodle1jpg.jpg
  title: Unicorn Google Doodle
  link_to: portfolio-google.html
  klass: development
  desc: Design &amp; Development
- image: images/@stock/work-5.jpg
  title: Day of the Dead Google Doodle
  link_to: portfolio-google2.html
  klass: development
  desc: Design &amp; Development
milestones:
- icon: folder-open
  from: 0
  to: 69
  title: Projects Completed
- icon: coffee
  from: 0
  to: 726
  title: Cups of coffee offered
- icon: thumbs-up
  from: 0
  to: 59
  title: Happy clients
- icon: file-text
  from: 0
  to: 21
  title: Articles Published
---

<div class='full parallax' style='background-image: url(images/MainImage.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="I'm Norma" tagline="Graphic/UX Designer" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

  
<div class="four spacing"></div>

<div class="row">
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Design' desc='Illustrator | Photoshop | InDesign | Sketch' icon_class='fa fa-flask' delay='0' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Version Control' desc='Kactus | GitHub' icon_class='fa fa-paper-plane-o' delay='200' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Prototype' desc='InvisionApp' icon_class='fa fa-tablet' delay='400' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Development' desc='HTML | CSS | JS | CMS' icon_class='fa fa-comments-o' delay='600' shape_class='icon-text-circle' %}
  </div>
</div>

<div class="spacing"></div>

<div class="full" style="background: #f5f5f5;">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="My Work" %}
      <div class="spacing"></div>
     
      <div class="three spacing"></div>
    </div>
  </div>

  <div class='mod modGallery'>
    <ul class='gallery small-block-grid-2 medium-block-grid-3 large-block-grid-4'>
      {% for work in page.works %}
        <li class="{{ work.klass }}">
          <a href='{{ work.link_to }}'>
            <img alt="" src="{{ work.image }}" />
            <div class='overlay'>
              <div class='thumb-info'>
                <h3>{{ work.title }}</h3>
                <p>{{ work.desc }}</p>
              </div>
            </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
</div>