---
layout: default
section_id: home
works: 
slides:
- bg: images/@stock/slide-1.jpg
  title:
    klass: bottom-to-top
    text: I'm Norma
  small_title:
    klass: bottom-to-top
    text: Graphic/UX Designer
works:
- image: images/Spark Central_Scablands1.jpg
  title: Spark Central
  link_to: portfolio-spark.html
  klass: graphic-design
  desc: Design
- image: images/Spaced Homepage1.jpg
  title: SPACED
  link_to: portfolio-spaced.html
  klass: web-design
  desc: Web Design
- image: images/PSA1.jpg
  title: PSA
  link_to: portfolio-psa.html
  klass: print
  desc: Design
- image: images/TakeRoot Logo-100.jpg
  title: Take Root
  link_to: portfolio-takeroot.html
  klass: graphic-design
  desc: Design
- image: images/UnicornDoodle1jpg.jpg
  title: Unicorn Google Doodle
  link_to: portfolio-google.html
  klass: development
  desc: Design &amp; Development
- image: images/@stock/work-5.jpg
  title: Day of the Dead Google Doodle
  link_to: portfolio-google2.html
  klass: development
  desc: Design &amp; Development
milestones:
- icon: folder-open
  from: 0
  to: 69
  title: Projects Completed
- icon: coffee
  from: 0
  to: 726
  title: Cups of coffee offered
- icon: thumbs-up
  from: 0
  to: 59
  title: Happy clients
- icon: file-text
  from: 0
  to: 21
  title: Articles Published
---

<div class='mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='0'>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}

        <li class='frame {{style}} {{ slide.klass }}'>
          <div class='bg' style='background-image: url(images/MainImage.jpg);'></div>
          <div class='small-title {{ slide.small_title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.small_title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='title {{ slide.title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='buttons-wrapper {{ slide.buttons.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <div class='two spacing'></div>
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

  
<div class="four spacing"></div>

<div class="row">
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Design' desc='Illustrator | Photoshop | InDesign | Sketch' icon_class='fa fa-pencil' delay='0' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Version Control' desc='Kactus | GitHub' icon_class='fa fa-sitemap' delay='200' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Prototype' desc='InvisionApp' icon_class='fa fa-tablet' delay='400' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Development' desc='HTML | CSS | JS | CMS' icon_class='fa fa-code' delay='600' shape_class='icon-text-circle' %}
  </div>
</div>

<div class="spacing"></div>

<div class="full" style="background: #ffffff;">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="My Work" %}
      <div class="spacing"></div>
     
      <div class="three spacing"></div>
    </div>
  </div>

  <div class='mod modGallery'>
    <ul class='gallery small-block-grid-2 medium-block-grid-3 large-block-grid-4'>
      {% for work in page.works %}
        <li class="{{ work.klass }}">
          <a href='{{ work.link_to }}'>
            <img alt="" src="{{ work.image }}" />
            <div class='overlay'>
              <div class='thumb-info'>
                <h3>{{ work.title }}</h3>
                <p>{{ work.desc }}</p>
              </div>
            </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
</div>